#img-test {
    width:95%
}

.movie-card {
    width:360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.wrapper-favorite {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.films-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;    
    flex-wrap: wrap
}
