:root{
    --primary-color: #a32134;
    --secondary-color: #262324;
    --third-color: #FFFFFF;
    --body-color: #333
}
<<<<<<< HEAD
#title-cine{
    color:white;
}
h1 {
    text-align: center;
    margin: 3%
=======
/*Adicionar cores variáveis ao projeto: var(--primary-color) */

#title-cine {
    background-color: #333;
}
h1 {
    text-align: center;
    margin: 4% !important;
    color: var(--third-color)!important
>>>>>>> sprint3
}

h2 {
    margin-bottom: 7%;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box 
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: var(--body-color) !important
}
/* CSS HEADER */

header > ul > li {
    display: flex;
    gap: 5px;
    font-weight: 600;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}


header {
    display: flex;
    /*background-image: linear-gradient(to top right, var(--secondary-color), var(--primary-color));*/
    
    background: rgba(14, 13, 13, 0.952);
    backdrop-filter: blur(10px);
    height: 100px;
    width: 100%;
    box-shadow: 3px 5px 3px 3px rgba(0, 0, 0, 0.2);
}
     span, li {
    color: var(--third-color);  
    cursor:pointer
}
input {
    border-radius: 5px;
}


#burguer {
    display: none;
    color:white;
    text-align: left;
    cursor: pointer;
    height: 28px;
    user-select: none;
}

#menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    gap: 7px;
    position: absolute;
    top: 65px;
    border-radius: 10px;
    opacity: 0.9;
<<<<<<< HEAD
    background-color:white;
=======
    background-color: #262324;
>>>>>>> sprint3
    right: 3%;
    padding: 11px;
}


#menu-mobile {
    display: none;
    position: absolute;
    width: 104px;
    right: 9%;
    background-color: #262324;
}
#menu-mobile ul li {
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    user-select: none;
}




/* Personalizando Select Label e Button */

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../src/img/Vector.jpg) no-repeat var(--third-color);
    background-position: 87% 58%;
    border: 1px solid white;
    background-size: 14px 9px;
    border-radius: 8px;
    padding: 6px;
    width: 110px;
    font-weight: 600;
}

label {
    color: var(--third-color);
    font-weight: 600;
    font-size: 1.3rem;
}

button {
    width: 100px;
    border-radius: 8px;
    padding: 4px;
    color: var(--third-color);
    background-color: #333;
    font-weight: 700;
}



/*---CSS MAIN----- */


main {
      /*background-image: linear-gradient(to bottom right, var(--secondary-color), var(--primary-color));*/
      
    background-color: #333;
    height: 100%
}

#titulo-busca{
    color: white
}

.search-film-by-streaming {
    display: flex;
    gap: 4%
}
/* Menu Mobile */

@media (max-width: 600px){

    header > ul > li {
        display: none;

    }
    #logo{
        display:block
    }
    #burguer {
        display: block;

    }
    

}

footer {
    display: flex;
    background-color: #333;
    justify-content: center;
}

fieldset {
    background-color: #333;
}
